@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Explora&display=swap');

body { 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  padding-bottom: 2rem; 
  margin: 5%; 
  background-image: url("https://media.giphy.com/media/26ufmyrjQ4BmKN7xe/giphy.gif"); 
  background-repeat: no-repeat; 
  background-size: cover;
  font-family: 'Explora', cursive;
   }

   p{
     font-family: 'Dancing Script', cursive;
      font-size: 100px;
   }